ARCH?=AURIX_TRICORE
TARGET?=aurix_tc3xx
SIGN?=RSA4096
HASH?=SHA256
AURIX_ILLD?=/home/brett/Downloads/iLLD_1_0_1_18_0_TC3xx_Drivers_And_Demos_Release/iLLD_1_0_1_18_0__TC37A/Src/BaseSw/
DEBUG?=0
VTOR?=0
CORTEX_M0?=0
NO_ASM?=1
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=1
V?=0
SPMATH?=1
RAM_CODE?=1
DUALBANK_SWAP?=0
EXT_FLASH?=1
FLAGS_INVERT=1
FLASH_MULTI_SECTOR_ERASE=1

WOLFBOOT_SECTOR_SIZE=0x4000
WOLFBOOT_PARTITION_SIZE=0x180000
WOLFBOOT_PARTITION_BOOT_ADDRESS=0xA0300000
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0xA0480000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0xA0050000
