ARCH?=AURIX_TC3
TARGET?=aurix_tc3xx_wolf
SIGN?=ECC256
HASH?=SHA256
DEBUG?=1
NO_ASM?=1
WOLFBOOT_VERSION?=1
V?=0
SPMATH?=1
RAM_CODE?=1
EXT_FLASH?=1
FLAGS_INVERT=1
FLASH_MULTI_SECTOR_ERASE=1

WOLFBOOT_SECTOR_SIZE=0x4000
WOLFBOOT_PARTITION_SIZE=0x17C000
WOLFBOOT_PARTITION_BOOT_ADDRESS=0xA0300000
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0xA047C000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0xA05FC000

